<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img [src]="product?.imageUrl" class="img-fluid shadow-sm w-100" style="max-height: 500px;"
                alt="{{ product?.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product?.name }}</h2>
            <p class="text-muted">{{ product?.description }}</p>
            <p class="fw-bold fs-4">{{ product?.price }} €</p>

            <div class="d-flex align-items-center gap-3">
                <button class="btn btn-primary" (click)="decreaseQuantity()">-</button>
                <span class="fs-5 p-1 px-3 border ">{{ quantity }}</span>
                <button class="btn btn-primary" (click)="increaseQuantity()">+</button>
                <button class="btn btn-success me-2" (click)="addToCart()">Ajouter au panier</button>
            </div>

        </div>
    </div>
</div>