<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Commandes</h2>
        <div class="d-flex justify-content-end gap-2 align-items-center">
            <label for="filterStatus" class="form-label mb-0">Filtre</label>
            <select id="filterStatus" class="form-select" [(ngModel)]="filterStatus">
                <option value="">Toutes</option>
                <option value="PENDING">En cours</option>
                <option value="SHIPPED">Expediée</option>
                <option value="CANCELLED">Annulée</option>
            </select>
        </div>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders" [hidden]="filterStatus && order.status !== filterStatus">
                <td>{{ order.id }}</td>
                <td>{{ order.createdAt | date:'dd/MM/yyyy HH:MM'}}</td>
                <td>
                    <span [class]="getStatusBadge(order.status)">{{ order.status == "PENDING" ? "En attente":
                        order.status == "SHIPPED" ? "Expediée": "Annulée" }}</span>
                </td>
                <td>
                    <button class="btn btn-success btn-sm me-2" *ngIf="order.status === 'PENDING'"
                        (click)="openModal(order, 'ship')">Expédier</button>
                    <button class="btn btn-danger btn-sm" *ngIf="order.status === 'PENDING'"
                        (click)="openModal(order, 'cancel')">Annuler</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MODAL CONFIRMATION -->
<div class="modal fade show d-block" *ngIf="showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="actionType === 'ship'">Are you sure you want to ship this order?</p>
                <p *ngIf="actionType === 'cancel'">Are you sure you want to cancel this order?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button class="btn btn-primary" (click)="confirmAction()">Confirm</button>
            </div>
        </div>
    </div>
</div>