<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4 p-4 bg-white shadow-lg rounded">
        <h2 class="text-center text-primary">Connexion</h2>

        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Votre email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Votre mot de passe">
            </div>

            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
        </form>

        <div class="text-center mt-3">
            <p>Pas encore de compte ? <a routerLink="/register" class="text-primary fw-bold">Inscrivez-vous</a></p>
        </div>
    </div>
</div>