<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand text-secondary fw-bold" routerLink="/">MyStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex align-items-center flex-column flex-lg-row  gap-4 me-5">
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">Produits</a>
                </li>

                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link position-relative" routerLink="/cart" routerLinkActive="active">
                        Panier
                        <span *ngIf="cartItemCount() > 0"
                            class="badge bg-danger rounded-circle position-absolute top-25 start-100 translate-middle">
                            {{ cartItemCount() }}
                        </span>

                    </a>
                </li>

                <li class="nav-item" *ngIf="isAuthenticated() && !isAdmin()">
                    <a class="nav-link" routerLink="/orders" routerLinkActive="active">Mes commandes</a>
                </li>

                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>

                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">Commandes</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Produits</a>
                </li>



            </ul>
            <div class="d-flex align-items-center gap-2">
                <a class=" btn btn-secondary btn-sm" *ngIf="!isAuthenticated() && !isAdmin()"
                    routerLink="/login">Connexion</a>
                <a class=" btn btn-outline-secondary btn-sm" *ngIf="!isAuthenticated() && !isAdmin()"
                    routerLink="/register">Inscription</a>

                <a class=" btn btn-outline-danger btn-sm" *ngIf="isAuthenticated() || isAdmin()"
                    (click)="logout()">Déconnexion</a>
            </div>
        </div>
    </div>
</nav>