<div class="container mt-5">
    <div class="card shadow-sm p-4 d-flex flex-lg-row justify-content-between align-items-start gap-5">

        <div class="col-lg-5">
            <h2 class="mb-4 text-primary">Détails de la Commande</h2>

            <div *ngIf="order">
                <div class="row">
                    <p class="mb-2"><strong>ID :</strong> {{ order.id }}</p>
                    <p class="mb-2">
                        <strong>Statut : </strong>
                        <span [class]="getStatusBadge(order.status)">
                            {{ order.status == "PENDING" ? "En attente" :
                            order.status == "SHIPPED" ? "Expédiée" : "Annulée" }}
                        </span>
                    </p>
                    <p class="mb-2"><strong>Date : </strong> {{ order.createdAt | date:'dd/MM/yyyy HH:mm'}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h4 class="">Produits commandés</h4>
            <div class="list-group mt-3">
                <div *ngFor="let item of order.items"
                    class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3">
                    <div class="d-flex align-items-center">
                        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="rounded me-3"
                            style="width: 60px; height: 60px; object-fit: cover;">
                        <div>
                            <h5 class="mb-1">{{ item.product.name }}</h5>
                            <p class="text-muted mb-0">Quantité : {{ item.quantity }}</p>
                        </div>
                    </div>
                    <span class="badge bg-primary fs-6">{{ item.product.price * item.quantity | number:'1.0-2' }}
                        €</span>
                </div>
                <div class="mt-4 text-md-end">
                    <h4 class="fw-bold text-primary">Total : {{ total | number:'1.0-2' }} €</h4>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!order" class="alert alert-info text-center mt-3">
        <i class="bi bi-hourglass-split"></i> Chargement des informations...
    </div>
</div>